###
# #%L
# Fiji distribution of ImageJ for the life sciences.
# %%
# Copyright (C) 2007 - 2024 Fiji developers.
# %%
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public
# License along with this program.  If not, see
# <http://www.gnu.org/licenses/gpl-3.0.html>.
# #L%
###
# Name: BeanShell_Interpreter
# Author: Johannes Schindelin
# Requires: ImageJ 1.39p

Plugins>Scripting, "BeanShell Interpreter", BSH.BSH_Interpreter
Plugins>Scripting, "Refresh BSH Scripts", BSH.Refresh_BSH_Scripts

# Name: Clojure_Interpreter
# Author: Albert Cardona
# Date: 20080424 11:59 +0100
# Requires: ImageJ 1.39p

Plugins>Scripting, "Clojure Interpreter", Clojure.Clojure_Interpreter
Plugins>Scripting, "Refresh Clojure Scripts", Clojure.Refresh_Clojure_Scripts

# Name: JRuby_Interpreter
# Author: Albert Cardona, Mark Longair
# Date: 20080424
# Requires: ImageJ 1.37g

Plugins>Scripting, "JRuby Interpreter", JRuby.JRuby_Interpreter
Plugins>Scripting, "Refresh JRuby Scripts", JRuby.Refresh_JRuby_Scripts

# Name: Jython_Interpreter
# Author: Albert Cardona
# License: General Public License

Plugins>Scripting, "Jython Interpreter", Jython.Jython_Interpreter
Plugins>Scripting, "Refresh Jython Scripts", Jython.Refresh_Jython_Scripts

# Name: Scala Interpreter
# Author: Kota Miura
# Version: 1.0.0

Plugins>Scripting, "Scala Interpreter", emblcmci.scalainterp.Scala_Interpreter
Plugins>Scripting, "Refresh Scala Scripts", emblcmci.scalainterp.Refresh_Scala_Script
